body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #62318b, #ad9eb9);
}

.chat-container {
    width: 400px;
    height: 500px;
    border: 1px solid #ccc;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.chat-history {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.chatbot-working {
    background-color: #eee;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
}

.chat-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.chat-input textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-input button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #007BFF;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.user-message, .bot-message {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
}

.user-message {
    background-color: #007BFF;
    color: #fff;
    align-self: flex-end;
}

.bot-message {
    background-color: #eee;
}
